{%extends 'base.html'%} {% block content %} {{block.super}}
<h1>WELCOME</h1>
<div class="row">
    <!-- Looping through news   -->
    {% for post_item in post %}
    <div class="row">
        <!-- displaying post articles -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h2 class="text-center"> {{ post_item.title }} </h2>
            <h2 class="text-center"> {{ post_item.description }} </h2>
            <h2 class="text-center"> {{ post_item.pub_date|timesince }} </h2>
        </div>
    </div>
    <!--Display news Galore images  -->

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-top: 10px; ">
        <a href="">
            <p src="{{post_item.image.url}}" class="img-responsive" alt="Image" style="height: 200px; width: 300px; "></p>
        </a>
    </div>
</div>
{%endfor%}


<p>{{date|date:"l d-F Y "}}</p>
{%endblock%}