{%extends 'base.html'%} {% block content %} {{block.super}}

<div class="intro">
    <div class="par">
        <h3>We Don't Make Gallery.<br> We Make Gallery Better</h3><br><br>
        <div class=" ">


            <form class="navbar-form" role="search" action="{% url 'photo_location' %}">

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search by location" name="galore">
                    <div class="input-group-btn">
                        <button class="btn btn-default " type="submit">Search</button>
                    </div>
                </div>

            </form>
        </div><br>
        <h5>View it now, enjoy it more</h5>

    </div>
    <div class="wrapper">
        <div class="container gall">
            <h4>Modern Galleria</h4>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        {% for pic in posts %}
        <!-- displaying post images -->
        <div class="col-md-4 mt-3">
            <img src="{{pic.image.url}}" data-target="#imageModal{{pic.id}}" data-toggle="modal" alt="" class="img-fluid" id="eachimage" style="height: 400px; width: 300px"> </div>
    </div>
    {% endfor %}
</div>
</div>





</div>{%endblock%}